<h3>trips/show</h3>
<h3>SHOW INDIVIDUAL USER trip AND PROVIDE DELETE</h3>

<%= @trips.year_visited %><br>
<%= @trips.name %>

<h3>Locations</h3>
<ul>
  <% @trips.locations.each do |location| %>
    <li><a href="/locations/<%= location.id %>"><%= location.name %></a></li>
  <% end %>
</ul>
<a href="/trips/<%= @trip.id %>/edit">Edit</a>


<a href='/trips/index'>See All trips</a><br>
<a href='/trips/new'>Create New trip</a><br>
<a href='/trips/edit'>Edit trip</a><br>
<a href='/logout'>Log Out</a>
