<h3><%= current_user.username %>'s Trip: <%= @trips.name %></h3>

<ul>
  <%= @trips.year_visited %> <%= @trips.name %><br>
  <% if current_user.id == @trips.user_id %>
    <a href='/trips/<%= @trips.id %>/edit'>Edit</a>
    <form method="POST" action="/trips/<%= @trips.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>
</ul>


<a href='/trips/index'>See All trips</a><br>
<a href='/trips/new'>Create New trip</a><br>
<a href='/logout'>Log Out</a>
