<h3>Hello, <%= user.username %>!</h3>
<h3>Here are your traveled locations</h3>

<% @user.locations.each do |location| %>
	<div>
		<p><%= location.year_visited %>: <%= location %> in <%= location.country %></p>
	</div>
<% end %>

<form method="POST" action="/locations/<%= @location.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>

<a href='/locations'>See All Locations</a>
<a href='/locations/new'>Create New Location</a>
<a href='/locations/edit'>Edit Location</a>
<a href='/logout'>Log Out</a>
